        body {
            background-color: #AFEEEE !important;
            min-height: 100vh;
            /*padding-top: 3.25rem;*/
        }

        .section {
            padding: 1rem 1.5rem;
            max-width: 1000px;
            margin: auto;
        }

        .is-sparta {
            color: #AFEEEE !important;
        }

        .button.is-sparta {
            background-color: #e8344e;
            border-color: transparent;
            color: #fff !important;
        }

        .button.is-sparta.is-outlined {
            background-color: transparent;
            border-color: #e8344e;
            color: #e8344e !important;
        }

        .modal-content {
            width: 600px;
            max-width: 80%;
        }

        input::-webkit-calendar-picker-indicator {
            display: none;
        }

        .image img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }